# gitignore
!.env.example
**/.env
.idea
.phpunit.result.cache
vendor/
secret.gpg
.gitsecret/keys/random_seed
.gitsecret/keys/pubring.kbx~
!*.secret
passwords.txt
.build

# additionally ignored files
.git
# storage/ usually contains cached files (e.g. for views) or logs
storage/*
# bootstrap/cache/ contains cached files for packages and service providers
bootstrap/cache/*
# make sure to keep all .gitignore and .gitkeep files
!**/.gitignore
!**/.gitkeep
